@import 'variables';
@import 'colors';

.form-fields {
  margin: $gap-m;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  & mat-form-field {
    width: 49%;
  }
}

.form-fields mat-form-field + mat-form-field, .form-fields button + mat-form-field {
  flex-grow: 1;
  margin-left: 8px;
}

.INITIALIZING, .STARTED {
  color: $color-unknown-gray;
}

.STOPPED, .FAILED {
  color: $color-not-ok-red;
}

.FINISHED {
  color: $color-ok-green;
}

.pointer {
  cursor: pointer;
}

button {
  margin: 0.5rem;
}
