<main class="main">
  <div class="content">
    <!-- ########kj####### -->
    <!-- ################# -->
    <!-- ################# -->
    <!-- ################# -->
    <!-- ################# -->
    <!-- ################# -->
    <div class="left-side">
      <!--      <app-operation-panel></app-operation-panel>-->

      <ng-container *ngIf="instanceConfig && algorithmConfig">
        <form [formGroup]="choosingForm">
          <ng-container *ngIf="instanceConfig">
            <label for="cf_instance">Current instance: </label>
            <select id="cf_instance" [formControl]="choosingForm.controls.instanceId">
              <option *ngFor="let instance of Object.values(instanceConfig)"
                      [value]="instance.id">
                [{{instance.id}}] - {{instance.type}}, n={{Object.keys(instance.nodes).length - 1}}
              </option>
            </select>
          </ng-container>

          <br>

          <ng-container *ngIf="algorithmConfig">
            <label for="cf_algorithm">Current algorithm: </label>
            <select id="cf_algorithm" [formControl]="choosingForm.controls.algorithmId">
              <option *ngFor="let algorithm of Object.values(algorithmConfig)"
                      [value]="algorithm.id">
                [{{algorithm.id}}] {{algorithm.algorithmType}} - {{algorithm.algorithmName}}
              </option>
            </select>
          </ng-container>
        </form>

        <button *ngIf="choosingForm.valid" (click)="broadcastAlgorithm()">Broadcast algorithm</button>

        <hr>
      </ng-container>

      <form [formGroup]="setupForm">
        <label for="sf_workers">Nodes: </label>
        <input id="sf_workers" [formControl]="setupForm.controls.workers" type="number"/>
        <br>
        <label for="sf_cpu">CPUs: </label>
        <input id="sf_cpu" [formControl]="setupForm.controls.cpu" type="number"/>
        <br>
        <label for="sf_masterMemory">Master memory [Gb]: </label>
        <input id="sf_masterMemory" [formControl]="setupForm.controls.masterMemory" type="number"/>
        <br>
        <label for="sf_workerMemory">Worker memory [Gb]: </label>
        <input id="sf_workerMemory" [formControl]="setupForm.controls.workerMemory" type="number"/>
        <br>
        <label for="sf_disk">Disk space [Gb]: </label>
        <input id="sf_disk" [formControl]="setupForm.controls.disk" type="number"/>
        <br>

        <button (click)="setupInstance()">Setup instance</button>
      </form>

      <button (click)="destroyAll()">Clear instances</button>

      <hr>

      <label for="input_alg">Algorithm file: </label>
      <input id="input_alg" type="file" (change)="onChangeAlgorithmFile($event)"/>

      <br>

      <button (click)="uploadAlgorithm()">Upload algorithm</button>
      status: {{tmpAlgStatus}}

      <hr>

      <button (click)="execute()">Execute</button>


    </div>

    <div class="divider" role="separator" aria-label="Divider"></div>
    <!-- ########kj####### -->
    <!-- ################# -->
    <!-- ################# -->
    <!-- ################# -->
    <!-- ################# -->
    <!-- ################# -->

    <div class="right-side">
      <!--      <app-results></app-results>-->

      <button (click)="loadInstances()">Load instances</button>
      <button (click)="loadAlgorithms()">Load algorithms</button>
      <button (click)="loadData()">Load data</button>
      <button (click)="loadLastResults()">Load results</button>

      <hr>

      <div *ngIf="currentView === resultsView.INSTANCE && instanceConfig">
        <div *ngFor="let instance of Object.values(instanceConfig)" class="outline">
          [{{instance.id}}] - {{instance.type}}:

          <ul>
            <li *ngFor="let node of Object.values(instance.nodes)">
              {{node.type}} / {{node.localhostIp}}:{{node.agentPort}}
              cpu={{node.cpu}}, memory={{node.memory}}GB
            </li>
          </ul>

          <ng-container *ngIf="instance.info.dataScatter">
            Data:
            <ul>
              <li *ngFor="let data of instance.info.dataScatter | keyvalue">
                data id={{data.key}}
                <span *ngIf="dataConfig">({{dataConfig[data.key].originalName}})</span>
                <ul>
                  <li>strategy: {{data.value.strategyName}}</li>
                  <li>params: {{data.value.strategyParams}}</li>
                  <li>distance func: {{data.value.distanceFunction}}</li>
                  <li>seed: {{data.value.seed}}</li>
                </ul>
              </li>
            </ul>
          </ng-container>

          <ng-container *ngIf="instance.info.algorithmScatter">
            Algorithms:
            <ul>
              <li *ngFor="let algId of instance.info.algorithmScatter">
                {{algId}}
                <span *ngIf="algorithmConfig">({{algorithmConfig[algId].algorithmName}})</span>
              </li>
            </ul>
          </ng-container>
        </div>
      </div>

      <div *ngIf="currentView === resultsView.ALGORITHMS && algorithmConfig">
        <div *ngFor="let algorithm of Object.values(algorithmConfig)" class="outline">
          [{{algorithm.id}}] {{algorithm.algorithmType}} - {{algorithm.algorithmName}}
        </div>
      </div>

      <div *ngIf="currentView === resultsView.DATA && distanceFunctionConfig && partitionStrategyConfig && dataConfig">
        Custom distance functions:
        <div *ngFor="let distanceFunc of Object.values(distanceFunctionConfig)" class="outline">
          [{{distanceFunc.id}}] {{distanceFunc.functionName}}
        </div>

        <hr>

        Custom partition strategies:
        <div *ngFor="let strategy of Object.values(partitionStrategyConfig)" class="outline">
          [{{strategy.id}}] {{strategy.strategyName}}
        </div>

        <hr>

        Loaded datasets:
        <div *ngFor="let data of Object.values(dataConfig)" class="outline">
          [{{data.id}}] {{data.type}} - {{data.originalName}}
          <ul>
            <li>size: {{data.sizeInBytes}}b</li>
            <li>number of samples: {{data.numberOfSamples}}</li>
            <li>separator: {{data.separator}}</li>
            <li>id index: {{data.idIndex}}</li>
            <li>label index: {{data.labelIndex}}</li>
            <li>attributes: {{data.attributesAmount}}</li>
            <li>colTypes: {{data.colTypes}}</li>
          </ul>
        </div>
      </div>

      <div *ngIf="currentView === resultsView.RESULTS && lastResults">
        Results for execution id: {{lastExecutionId}}
        <hr>
        <div *ngFor="let metric of lastResults | keyvalue" class="outline">
          {{metric.key}}={{metric.value}}
        </div>
      </div>

    </div>
    <!-- ########kj####### -->
    <!-- ################# -->
    <!-- ################# -->
    <!-- ################# -->
    <!-- ################# -->
    <!-- ################# -->
  </div>
</main>

<router-outlet></router-outlet>
