<configuration debug="true" scan="true" scanPeriod="10 minutes">
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>

    <timestamp key="byDay" datePattern="yyyy-MM-dd"/>

    <property name="MAIN_LOG_FILE" value="./logs/node-agent"/>
    <property name="ROLL_FILE_EXT" value="-%d{yyyy-MM-dd}.log.gz"/>
    <property name="FILE_EXT" value=".log"/>

    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } - [%t] %-40.40logger{50} : %m%n%wex"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} - %clr(-){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{50}){cyan} %clr(:){faint} %m%n%wex"/>

    <appender name="MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${MAIN_LOG_FILE}${FILE_EXT}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${MAIN_LOG_FILE}${ROLL_FILE_EXT}</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="MAIN_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1024</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>false</neverBlock>
        <appender-ref ref="MAIN"/>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="MAIN_ASYNC"/>
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.springframework.web" level="INFO"/>

    <logger name="pl.edu.pw.ddm.platform.agent" level="DEBUG"/>

</configuration>
